<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pos.restokasir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSRESTOKASIR"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.ProductActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.ReceiptActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.DetailHistoryActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.AddDiscountActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.ListDiscountActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.ListCustomerActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.AddCustomerActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.AddCategoryActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
        <activity
            android:name=".ui.activity.ListCategoryActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.POSRESTOKASIR.NoActionBar" />
    </application>

</manifest>